<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org" xmlns="http://www.w3.org/1999/html"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="fragments :: page_head('Category - Shopme Admin')" />

<body>
<div class = "container-fluid">

    <div th:replace="navigation :: menu"></div>

    <div>
        <h2>Manage Categories</h2>
        <a th:href="@{/categories/new}" class="fas fa-folder-plus fa-2x icon-dark mr-2"></a>
        &nbsp;&nbsp;
        <a th:href="@{/categories/export/csv}" class="fas fa-file-csv fa-2x icon-dark mr-2"></a>
    </div>

    <div th:if="${message != null}" class="alert alert-success text-center">
        [[${message}]]
    </div>

    <div>
        <form th:action="@{/categories/page/1}" class="form-inline m-3">
            <input type="hidden" name="sortField" th:value="${sortField}" />
            <input type="hidden" name="sortDir" th:value="${sortDir}" />
            Filter: &nbsp;
            <input type="search" name="keyword" th:value="${keyword}" class="form-control" required>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button type="submit" value="Search" class="btn btn-primary" >
                <i class="fas fa-search"></i>
            </button>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <button type="button" value="Clear" class="btn btn-secondary" onclick="clearFilter()" >
                <i class="fas fa-eraser"></i>
            </button>
        </form>
    </div>

    <div>
        <table class="table table-bordered table-hover table-responsive-xl ">
            <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>Category Image</th>
<!--                <th th:replace="fragments :: column_link('categories','name','Category Name', 'none')" />-->
                <th>
                    <a class="text-white" th:href="@{'/categories/page/' + ${pageNum} + '?sortDir=' + ${reverseSortDir}}">Category Name</a>
                    <span th:class="${reverseSortDir == 'desc' ? 'fas fa-sort-up' : 'fas fa-sort-down'}"></span>
                </th>
                <th>Alias</th>
                <th>Enabled</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="category : ${listCategories}">
                <td> [[${category.id}]]</td>
                <td>
                    <img th:src="@{${category.categoryImagePath}}"
                         style="width: 100px"/>
                </td>
                <td> [[${category.name}]]</td>
                <td> [[${category.alias}]]</td>
                <td>
                    <div th:replace="fragments :: category_status"></div>
                </td>
                <td>
                    <div th:replace="fragments :: category_actions"></div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div th:replace="fragments :: pagination('/categories', 'top-level categories')"></div>

    <div th:replace="modal_fragments :: confirm_modal"></div>

    <div th:replace="fragments :: footer"></div>
</div>

<script th:src="@{/js/common_list.js}"></script>
<script type="text/javascript">

    $(document).ready(function() {
        $(".link-delete").on("click", function(e) {
            e.preventDefault();
            showDeleteConfirmModal($(this), 'category');
        });
    });
</script>

</body>
</html>